@model TerraeApp.Models.Empresa.EmpresaDetallesModel

<div class="row container-fluid">
    <div class="page-heading">
        <img src="~/images/nature.png" class="img-rounded left" style="max-width:100%; height:auto" />

    </div>
</div>
<div class="clearfix" style="margin-bottom:20px;"></div>

<div class="jumbotron">
    <div class="row container-fluid">
        <dl>
            <p><b>Nombre:&nbsp;</b>@Model.NombreModels</p>

        </dl>
        <dl>
            <p><b>Telefono:&nbsp;</b>@Model.TelefonoModels</p>

        </dl>
        <dl>
            <p><b>Provincia:&nbsp;</b>@Model.ProvinciaModels</p>

        </dl>
        <dl>
            <p><b>CIF:&nbsp;</b>@Model.CIFModels</p>

        </dl>
        <dl>
            <p><b>Dirección:&nbsp;</b>@Model.DireccionModels</p>

        </dl>





    </div>
</div>

